@font-face {
	font-family: "XXemeEtage-Regular";
	src: url("@/assets/fonts/XXemeEtage-Regular.woff2") format("woff2"), url("@/assets/fonts/XXemeEtage-Regular.woff") format("woff"), url("@/assets/fonts/XXemeEtage-Regular.ttf") format("truetype"), url("@/assets/fonts/XXemeEtage-Regular.eot") format("embedded-opentype"), url("@/assets/fonts/XXemeEtage-Regular.svg#XXemeEtage-Regular") format("svg"), url("@/assets/fonts/XXemeEtage-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
